html {
    margin: 0%;
    padding: 0%;
    background-image: url("cape-sunset.gif");
    background-repeat: no-repeat;
    background-size: cover;
  background-attachment: fixed;
  background-position: center;
    height: 200px;
}

h1 {
    margin: 50px;
    padding: 17px;
}

html {
        margin: 50px;
        padding: 18px;
}

p {
        margin: 50px;
        padding: -70px;
        font-family: system-ui;
}

strong {
    font-family: system-ui;
    text-align: left;
    margin: 50px;
        padding: 18px;
}

marquee{
    font-family: system-ui;
    background-color: yellowgreen;
}

hgroup {
    text-align: left;
    font-family: Verdana, sans-serif;
    padding-right: 16px;
    border-right: 10px solid #00c8d7;
}

em {
    font-family: system-ui;
    text-align: right;
    margin: 20px;
    padding: 10px;
    color: teal;
}

h3 {
    font-family: system-ui;
    text-align: left;
    margin: 50px;
    padding: 18px;
}

h4 {
    margin: 10px;
    padding: 40px;
    font-family: system-ui;
}

body {
    border-radius: 10px;
}
aside {
    width: 55%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

aside > p {
    margin: .5rem;
}

p {
    font-family: 'Fira Sans', sans-serif;
    padding: -70px;
}


hr {
    border: none;
    border-top: 10px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin: 17px;
    padding: 17px;
}

li {
    font-size: 110%;
    font-family: system-ui;
    text-align: left;
}

.box {
    text-align: left;
    size: 2%;
}



.para {

    font-family: system-ui;
    font-weight: bolder;
    font-size: 1.2em;
    margin: 17px;
    padding:17px;
}

.topnav-centered a {

  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.date {
    margin: 50%;
    padding: 17%;
}



.em {
    width: 55%;
    padding-left: .5rem;
    margin-left: .5rem;
    font-style: italic;
    text-align: right;
}

.flotte {
    float:left;
    text-align: right;
    }

.hola {
    font-family: system-ui;
    background-color: white;
}
