html {
    margin: 0%;
    padding: 0%;
    background-color: rgba(0, 128, 128, 0.562);
}

h1 {
    margin: 50px;
    padding: 50px;
}

html {
        margin: 50px;
        padding: 50px;
}

p {
        margin: 50px;
        padding: 50px;
}